[submodule "lib/recomp-net"]
	path = lib/recomp-net
	url = https://github.com/TechnicallyComputers/recomp-net.git
	branch = main

[submodule "lib/retcomm-rbengine"]
	path = lib/retcomm-rbengine
	url = https://github.com/TechnicallyComputers/retcomm-rbengine.git
	branch = main
